In [1]:
import pandas as pd
import pandasql as pdsql
import seaborn as sns
import signac
import produce_data
import random_forest

from IPython.display import display
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from matplotlib import pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_log_error

sns.set_theme(style="whitegrid")

### Dataset with minimum R-squared value 0.1

In [2]:
training_dataset, test_X, ids_test = produce_data.produce_init("10rsq_final_data.csv")

In [3]:
X = training_dataset.drop(['SalePrice'], axis=1)
y = training_dataset['SalePrice']
train_X, val_X, train_y, val_y = train_test_split(X, y, test_size=0.2)

In [4]:
display(X.head())
display(X.describe())

,OverallQual,GrLivArea,GarageCars,ExterQual,GarageArea,TotalBsmtSF,BsmtQual,1stFlrSF,KitchenQual,FullBath,...,GarageYrBlt,MasVnrArea,Fireplaces,HeatingQC,BsmtFinSF1,Foundation,GarageType,LotFrontage,WoodDeckSF,2ndFlrSF
0,7,1710,2,2,548,856,2,856,2,2,...,2003.0,196.0,0,0,706,2,1,65.0,0,854
1,6,1262,2,3,460,1262,2,1262,3,2,...,1976.0,0.0,1,0,978,1,1,80.0,298,0
2,7,1786,2,2,608,920,2,920,2,2,...,2001.0,162.0,1,0,486,2,1,68.0,0,866
3,7,1717,3,3,642,756,4,961,2,1,...,1998.0,0.0,1,2,216,0,5,60.0,0,756
4,8,2198,3,2,836,1145,2,1145,2,2,...,2000.0,350.0,1,0,655,2,1,84.0,192,1053

,OverallQual,GrLivArea,GarageCars,ExterQual,GarageArea,TotalBsmtSF,BsmtQual,1stFlrSF,KitchenQual,FullBath,...,GarageYrBlt,MasVnrArea,Fireplaces,HeatingQC,BsmtFinSF1,Foundation,GarageType,LotFrontage,WoodDeckSF,2ndFlrSF
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,6.099315,1515.463699,1.767123,2.539726,472.980137,1057.429452,2.724658,1162.626712,2.339726,1.565068,...,1978.478082,103.681507,0.613014,1.538356,443.639726,1.396575,2.485616,70.041096,94.244521,346.992466
std,1.382997,525.480383,0.747315,0.693995,213.804841,438.705324,1.278630,386.587738,0.830161,0.550916,...,23.994863,180.569120,0.644666,1.739524,456.098091,0.722394,1.933206,22.024031,125.338794,436.528436
min,1.000000,334.000000,0.000000,0.000000,0.000000,0.000000,0.000000,334.000000,0.000000,0.000000,...,1900.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21.000000,0.000000,0.000000
25%,5.000000,1129.500000,1.000000,2.000000,334.500000,795.750000,2.000000,882.000000,2.000000,1.000000,...,1962.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,60.000000,0.000000,0.000000
50%,6.000000,1464.000000,2.000000,3.000000,480.000000,991.500000,2.000000,1087.000000,3.000000,2.000000,...,1978.000000,0.000000,1.000000,0.000000,383.500000,1.000000,1.000000,70.000000,0.000000,0.000000
75%,7.000000,1776.750000,2.000000,3.000000,576.000000,1298.250000,4.000000,1391.250000,3.000000,2.000000,...,2001.000000,164.250000,1.000000,4.000000,712.250000,2.000000,5.000000,79.000000,168.000000,728.000000
max,10.000000,5642.000000,4.000000,3.000000,1418.000000,6110.000000,4.000000,4692.000000,3.000000,3.000000,...,2010.000000,1600.000000,3.000000,4.000000,5644.000000,5.000000,6.000000,313.000000,857.000000,2065.000000

In [5]:
display(y.head())
display(y.describe())

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

count      1460.000000
mean     180921.195890
std       79442.502883
min       34900.000000
25%      129975.000000
50%      163000.000000
75%      214000.000000
max      755000.000000
Name: SalePrice, dtype: float64

In [6]:
y_pred, r2, mse, hyperparams = random_forest.validate_model(train_X, train_y, val_X, val_y)

Generating Model... Please wait
Model Rendered

#### R-squared

In [7]:
r2

0.7273836347063488

#### Mean Squared Log Error

In [8]:
mse

0.028783836057227737

#### Submission

In [9]:
final_predict, _, _ = random_forest.model(X, y, test_X, None, hyperparams=hyperparams)
produce_data.produce_submission(ids_test, final_predict, "10_rsq_randomforest_submission.csv")

#### Store data to jobs

In [10]:
job = produce_data.get_job('10%')
job.sp['val_r_squared'] = 0.72
job.sp['val_mean_squared_log_error'] = 0.028
job.sp['submit_mean_squared_log_error'] = 0.14915

### Dataset with minimum R-squared value 0.05

In [11]:
training_dataset, test_X, ids_test = produce_data.produce_init("5rsq_final_data.csv")

In [12]:
X = training_dataset.drop(['SalePrice'], axis=1)
y = training_dataset['SalePrice']
train_X, val_X, train_y, val_y = train_test_split(X, y, test_size=0.2)

In [13]:
display(X.head())
display(X.describe())

,OverallQual,GrLivArea,GarageCars,ExterQual,GarageArea,TotalBsmtSF,BsmtQual,1stFlrSF,KitchenQual,FullBath,...,2ndFlrSF,OpenPorchSF,BsmtExposure,HalfBath,LotArea,LotShape,CentralAir,Electrical,PavedDrive,BsmtFullBath
0,7,1710,2,2,548,856,2,856,2,2,...,854,61,4,1,8450,3,1,5,2,1
1,6,1262,2,3,460,1262,2,1262,3,2,...,0,0,1,0,9600,3,1,5,2,0
2,7,1786,2,2,608,920,2,920,2,2,...,866,42,3,1,11250,0,1,5,2,1
3,7,1717,3,3,642,756,4,961,2,1,...,756,35,4,0,9550,0,1,5,2,1
4,8,2198,3,2,836,1145,2,1145,2,2,...,1053,84,0,1,14260,0,1,5,2,1

,OverallQual,GrLivArea,GarageCars,ExterQual,GarageArea,TotalBsmtSF,BsmtQual,1stFlrSF,KitchenQual,FullBath,...,2ndFlrSF,OpenPorchSF,BsmtExposure,HalfBath,LotArea,LotShape,CentralAir,Electrical,PavedDrive,BsmtFullBath
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,6.099315,1515.463699,1.767123,2.539726,472.980137,1057.429452,2.724658,1162.626712,2.339726,1.565068,...,346.992466,46.660274,2.989041,0.382877,10516.828082,1.942466,0.934932,4.595890,1.856164,0.425342
std,1.382997,525.480383,0.747315,0.693995,213.804841,438.705324,1.278630,386.587738,0.830161,0.550916,...,436.528436,66.256028,1.552337,0.502885,9981.264932,1.409156,0.246731,1.328647,0.496592,0.518911
min,1.000000,334.000000,0.000000,0.000000,0.000000,0.000000,0.000000,334.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1300.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000,1129.500000,1.000000,2.000000,334.500000,795.750000,2.000000,882.000000,2.000000,1.000000,...,0.000000,0.000000,2.000000,0.000000,7553.500000,0.000000,1.000000,5.000000,2.000000,0.000000
50%,6.000000,1464.000000,2.000000,3.000000,480.000000,991.500000,2.000000,1087.000000,3.000000,2.000000,...,0.000000,25.000000,4.000000,0.000000,9478.500000,3.000000,1.000000,5.000000,2.000000,0.000000
75%,7.000000,1776.750000,2.000000,3.000000,576.000000,1298.250000,4.000000,1391.250000,3.000000,2.000000,...,728.000000,68.000000,4.000000,1.000000,11601.500000,3.000000,1.000000,5.000000,2.000000,1.000000
max,10.000000,5642.000000,4.000000,3.000000,1418.000000,6110.000000,4.000000,4692.000000,3.000000,3.000000,...,2065.000000,547.000000,4.000000,2.000000,215245.000000,3.000000,1.000000,5.000000,2.000000,3.000000

In [14]:
display(y.head())
display(y.describe())

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

count      1460.000000
mean     180921.195890
std       79442.502883
min       34900.000000
25%      129975.000000
50%      163000.000000
75%      214000.000000
max      755000.000000
Name: SalePrice, dtype: float64

In [15]:
y_pred, r2, mse, hyperparams = random_forest.validate_model(train_X, train_y, val_X, val_y)

Generating Model... Please wait
Model Rendered

#### R-squared

In [16]:
r2

0.8771162019964527

#### Mean Squared Log Error

In [17]:
mse

0.019531040019506406

#### Submission

In [18]:
final_predict, _, _ = random_forest.model(X, y, test_X, None, hyperparams=hyperparams)
produce_data.produce_submission(ids_test, final_predict, "5_rsq_randomforest_submission.csv")

#### Store data to jobs

In [20]:
job = produce_data.get_job('5%')
job.sp['val_r_squared'] = 0.88
job.sp['val_mean_squared_log_error'] = 0.019
job.sp['submit_mean_squared_log_error'] = 0.14725

### Dataset with minimum R-squared value 0.02

In [21]:
training_dataset, test_X, ids_test = produce_data.produce_init("2rsq_final_data.csv")

In [22]:
X = training_dataset.drop(['SalePrice'], axis=1)
y = training_dataset['SalePrice']
train_X, val_X, train_y, val_y = train_test_split(X, y, test_size=0.2)

In [23]:
display(X.head())
display(X.describe())

,OverallQual,GrLivArea,GarageCars,ExterQual,GarageArea,TotalBsmtSF,BsmtQual,1stFlrSF,KitchenQual,FullBath,...,PavedDrive,BsmtFullBath,RoofStyle,BsmtUnfSF,SaleCondition,Neighborhood,HouseStyle,BedroomAbvGr,MSZoning,GarageCond
0,7,1710,2,2,548,856,2,856,2,2,...,2,1,1,150,4,5,5,3,3,5
1,6,1262,2,3,460,1262,2,1262,3,2,...,2,0,1,284,4,24,2,3,3,5
2,7,1786,2,2,608,920,2,920,2,2,...,2,1,1,434,4,5,5,3,3,5
3,7,1717,3,3,642,756,4,961,2,1,...,2,1,1,540,0,6,5,3,3,5
4,8,2198,3,2,836,1145,2,1145,2,2,...,2,1,1,490,4,15,5,4,3,5

,OverallQual,GrLivArea,GarageCars,ExterQual,GarageArea,TotalBsmtSF,BsmtQual,1stFlrSF,KitchenQual,FullBath,...,PavedDrive,BsmtFullBath,RoofStyle,BsmtUnfSF,SaleCondition,Neighborhood,HouseStyle,BedroomAbvGr,MSZoning,GarageCond
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,6.099315,1515.463699,1.767123,2.539726,472.980137,1057.429452,2.724658,1162.626712,2.339726,1.565068,...,1.856164,0.425342,1.410274,567.240411,3.770548,12.251370,3.038356,2.866438,3.028767,4.763014
std,1.382997,525.480383,0.747315,0.693995,213.804841,438.705324,1.278630,386.587738,0.830161,0.550916,...,0.496592,0.518911,0.834998,441.866955,1.100854,6.013735,1.911305,0.815778,0.632017,0.802670
min,1.000000,334.000000,0.000000,0.000000,0.000000,0.000000,0.000000,334.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000,1129.500000,1.000000,2.000000,334.500000,795.750000,2.000000,882.000000,2.000000,1.000000,...,2.000000,0.000000,1.000000,223.000000,4.000000,7.000000,2.000000,2.000000,3.000000,5.000000
50%,6.000000,1464.000000,2.000000,3.000000,480.000000,991.500000,2.000000,1087.000000,3.000000,2.000000,...,2.000000,0.000000,1.000000,477.500000,4.000000,12.000000,2.000000,3.000000,3.000000,5.000000
75%,7.000000,1776.750000,2.000000,3.000000,576.000000,1298.250000,4.000000,1391.250000,3.000000,2.000000,...,2.000000,1.000000,1.000000,808.000000,4.000000,17.000000,5.000000,3.000000,3.000000,5.000000
max,10.000000,5642.000000,4.000000,3.000000,1418.000000,6110.000000,4.000000,4692.000000,3.000000,3.000000,...,2.000000,3.000000,5.000000,2336.000000,5.000000,24.000000,7.000000,8.000000,4.000000,5.000000

In [24]:
display(y.head())
display(y.describe())

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

count      1460.000000
mean     180921.195890
std       79442.502883
min       34900.000000
25%      129975.000000
50%      163000.000000
75%      214000.000000
max      755000.000000
Name: SalePrice, dtype: float64

In [25]:
y_pred, r2, mse, hyperparams = random_forest.validate_model(train_X, train_y, val_X, val_y)

Generating Model... Please wait
Model Rendered

#### R-squared

In [26]:
r2

0.844047845342431

#### Mean Squared Log Error

In [27]:
mse

0.01695501226098883

#### Submission

In [28]:
final_predict, _, _ = random_forest.model(X, y, test_X, None, hyperparams=hyperparams)
produce_data.produce_submission(ids_test, final_predict, "2_rsq_randomforest_submission.csv")

#### Store data to jobs

In [10]:
job = produce_data.get_job('2%')
job.sp['val_r_squared'] = 0.72
job.sp['val_mean_squared_log_error'] = 0.028
job.sp['submit_mean_squared_log_error'] = 0.14915